@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf) format(truetype);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  background: #1f2937;
  padding: 0 5rem;
}
nav {
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9faf8;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
  text-decoration: none;
}
.logo {
  font-size: 25px;
  font-weight: bold;
}
nav ul li a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 16px;
}
.hero-section {
  padding: 2rem 0;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  justify-content: space-between;
  color: #f9faf8;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.hero-text h1 {
  font-size: 3.1rem;
}
.hero-text p {
  font-size: 17px;
  line-height: 26px;
}
.hero-text button {
  width: 30%;
  padding: 10px 3px;
  border-radius: 5px;
  color: #f9faf8;
  background: #3882f6;
  border: none;
  outline: none;
  margin-top: 25px;
  cursor: pointer;
}
.hero-img img {
  width: 600px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}
.sub-hero {
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem 5rem;
}
.sub-text {
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  width: 50%;
  font-size: 20px;
  font-weight: 400;
  padding: 1rem 0;
}
.cards-container{
  padding: 1.5rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cards{
  width: 100%;
  display: grid;
  gap: 5px;
  text-align: center;
}
.cards-container img{
  width: 100%;
  height: 95%;
  object-fit: cover;
  border-radius: 5px;
}
.testimonials{
  max-width: 100%;
  min-height: 50vh;
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
}
.testimonial{
  width: 80%;
}
.testimonial p{
  padding-bottom: 1rem;
  font-size: 25px;
  font-weight: light;
}
.author{
  width: 100%;
}
.author h4{
  display: flex;
  align-self: center;
  justify-self: right;
}